<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Guitar Practice App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "builds/application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
    <h1 class="text-4xl md:text-6xl font-extrabold mb-4 underline text-pink-400">ギターアプリ</h1>
      <%= yield %>
    </main>
  </body>
</html>
